<mat-card>
    <mat-card-header>
        <mat-card-title>
            Simple form field
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Input"/>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="textarea"></textarea>
            </mat-form-field>

         
        </div>
    </mat-card-content>
</mat-card>